<p>{{ 'mail.hello'|trans }} {{ app_name }},</p>

<p>{{ 'events.event_name'|trans }}: {{ eventName }}</p>
<p>{{ 'common.filter_name'|trans }}: {{ name }}</p>
<p>{{ 'common.filter_surname'|trans }}: {{ surname }}</p>
<p>{{ 'menu.email_link'|trans }}: {{ emailAddress }}</p>
<p>{{ 'menu.phone_link'|trans }}: {{ phone }}</p>
<p>{{ 'common.message'|trans }}: {{ message }}</p>