{% extends 'layout.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block content %}
    <section class="bg-white">
        <div class="w-full mx-auto max-w-xl flex flex-col justify-center py-24 mt-4 relative p-8">

            <div class="mt-6">
                <div>

                    {{ form_start(form, {'attr': {'class': 'w-full divide-neutral-200 rounded-3xl bg-white shadow-2xl border p-8 lg:p-10'}}) }}
                    <div class="prose text-gray-500 prose-sm prose-headings:font-normal prose-headings:text-xl">
                        <div>
                            <p class="text-balance">
                                Fill in the form below to reset  your account password, and you will see
                                the inputs validation in action.
                            </p>
                        </div>
                    </div>
                    <div class="mt-4">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'placeholder': 'example@email.com', 'class': 'block w-full h-12 px-4 py-3 placeholder-gray-500 bg-gray-100 border-0 rounded-lg appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset focus:ring-2 text-xs'}}) }}
                        <div class="py-2 space-y-3">
                            <p class="text-red-500 text-xs mt-1">
                                {{ form_errors(form.email) }}
                            </p>
                        </div>
                    </div>

                    <div class="mt-4">
                        <button type="submit"
                                class="rounded-full bg-blue-600 px-8 py-2 h-12 text-sm font-semibold text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full">
                            Submit
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
