<div class="card mb-5 mb-lg-3 card-flush">
    <!--begin::Form content-->
    {{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
    <!--begin::Card body-->
    <div class="card-body p-9 pb-lg-0">
        <div class="row">
            <div class="col-lg-12">
                <!--start::name & companyName-->
                <div class="row mb-6">
                    <div class="row">
                        <!--begin::Label-->
                        {{ form_label(form.name, 'common.filter_name'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <!--end::Col-->
                    </div>
                </div>
                <!--end::name & companyName-->

                <!--start::email & phone-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.email, 'menu.email_link'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.phone, 'menu.phone_link'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.phone) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::email & phone-->

                <!--start::county & city-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.county, 'dashboard.form.county'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.county, {'attr': {'class': 'counties form-select form-select-solid form-select-lg rounded-0', 'data-control': 'select2', 'data-placeholder': 'common.select'|trans}}) }}
                                {{ form_errors(form.county) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.city, 'dashboard.form.county'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.city, {'attr': {'class': 'cities form-select form-select-solid form-select-lg rounded-0', 'data-control': 'select2', 'data-placeholder': 'common.select'|trans}}) }}
                                {{ form_errors(form.city) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::county & city-->

                <!--start::address & postalCode-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.address, 'dashboard.form.address'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.address) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.postalCode, 'dashboard.form.postal_code'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.postalCode, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.postalCode) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::address & postalCode-->

                <!--start::address & postalCode-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.companyType, 'dashboard.form.company_type'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.companyType, {'attr': {'class': 'form-select form-select-solid form-select-lg rounded-0',  'data-control': 'select2', 'data-placeholder': 'common.select'|trans}}) }}
                                {{ form_errors(form.companyType) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.companyCapacity, 'dashboard.form.company_capacity'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.companyCapacity, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.companyCapacity) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::address & postalCode-->

                <!--start::type & admissionCriteria -->
                <div class="row mb-6">
                    <div class="row">
                        <!--begin::Label-->
                        {{ form_label(form.admissionCriteria, 'dashboard.form.admission_criteria'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row">
                            {{ form_widget(form.admissionCriteria, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                            {{ form_errors(form.admissionCriteria) }}
                        </div>
                        <!--end::Col-->
                    </div>
                </div>
                <!--end::type & admissionCriteria -->

                <!--start::price & website -->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.price, 'common.filter_price'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.price) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.website, 'menu.website_link'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.website, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.website) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::name & companyName -->

                <!--start::availableServices-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    {{ form_label(form.availableServices, 'dashboard.form.services'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.availableServices, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0 tagify-input', 'rows': '6'}}) }}
                        {{ form_errors(form.availableServices) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::availableServices-->

                <!--start::categoryCares-->
                <div class="row mb-6 category-cares d-none">
                    <!--begin::Label-->
                    {{ form_label(form.categoryCares, 'dashboard.form.category_cares'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.categoryCares, {'attr': {'class': 'company-form-categoryCares form-select form-select-solid form-select-lg rounded-0', 'data-control': 'select2', 'data-placeholder': 'dashboard.form.select_categories'|trans}}) }}
                        {{ form_errors(form.categoryCares) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::categoryCares-->

                <!--start::categoryServices-->
                <div class="row mb-6 category-services d-none">
                    <!--begin::Label-->
                    {{ form_label(form.categoryServices, 'dashboard.form.category_services'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.categoryServices, {'attr': {'class': 'company-form-categoryServices form-select form-select-solid form-select-lg rounded-0', 'data-control': 'select2', 'data-placeholder': 'dashboard.form.select_categories'|trans}}) }}
                        {{ form_errors(form.categoryServices) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::categoryServices-->

                <!--start::shortDescription-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    {{ form_label(form.shortDescription, 'dashboard.form.short_description'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0', 'rows': '3'}}) }}
                        {{ form_errors(form.shortDescription) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::shortDescription-->

                <!--start::description-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    {{ form_label(form.description, 'dashboard.form.description'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0 tinymce-editor', 'rows': '6'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::description-->

                <!--start::filePreview and logo-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.fileName, 'dashboard.form.preview_image'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.fileName, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.fileName) }}

                                {% if previewImage is defined %}
                                    <div class="form-text">Image uploaded:
                                        <a href="{{ asset(app_company_path ~ previewImage) }}" target="_blank">
                                            {{ previewImage }}
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="form-text">{{ 'dashboard.form.image_format'|trans }}</div>
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.logo, 'dashboard.form.logo'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.logo, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.logo) }}
                                {% if logo is defined %}
                                    <div class="form-text">Image uploaded:
                                        <a href="{{ asset(app_company_path ~ logo) }}"
                                           target="_blank">
                                            {{ logo }}
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="form-text">{{ 'dashboard.form.image_format'|trans }}</div>
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::filePreview and logo-->

                <!--start::videoUrl and placeholderImage-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.videoUrl, 'dashboard.form.video_url'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.videoUrl, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.videoUrl) }}
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <!--begin::Label-->
                            {{ form_label(form.videoPlaceholder, 'dashboard.form.video_placeholder'|trans, {'label_attr': {'class': 'col-lg-4 col-form-label fw-semibold fs-6'}}) }}
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                {{ form_widget(form.videoPlaceholder, {'attr': {'class': 'form-control form-control-solid form-control-lg rounded-0'}}) }}
                                {{ form_errors(form.videoPlaceholder) }}
                                {% if videoPlaceholder is defined %}
                                    <div class="form-text">{{ 'dashboard.form.image_upload'|trans }}
                                        <a href="{{ asset(app_company_path ~ videoPlaceholder) }}"
                                           target="_blank">
                                            {{ videoPlaceholder }}
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="form-text">{{ 'dashboard.form.image_format'|trans }}</div>
                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                </div>
                <!--end::videoUrl and placeholderImage-->

                <!--start::GalleryImages-->
                {% if uuid is defined %}
                    <div class="row">
                        <!--begin::Label-->
                        <label class="col-lg-2 col-form-label fw-semibold fs-6 required">
                            {{ 'dashboard.form.gallery_images'|trans }}
                        </label>
                        <!--end::Label-->
                        <!--begin::Col-->
                        <div class="col-lg-10 fv-row">
                            <button type="button" class="btn btn-brand btn-primary rounded-0 bg-1B3951 text-uppercase fw-bolder" data-bs-toggle="modal"
                                    data-bs-target="#kt_gallery_modal">
                                {{ 'dashboard.form.upload_image'|trans }}
                            </button>
                            <div class="form-text"> {{ 'dashboard.form.gallery_images'|trans }}</div>
                        </div>
                        <!--end::Col-->
                    </div>
                {% endif %}
                <!--end::GalleryImages-->

                <!--start::enabled-->
                <div class="row mb-6">
                    <!--begin::Label-->
                    {{ form_label(form.status, 'dashboard.table.status'|trans, {'label_attr': {'class': 'col-lg-2 col-form-label fw-semibold fs-6'}}) }}
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-10 fv-row">
                        {{ form_widget(form.status, {'attr': {'class': 'form-select form-select-solid form-select-lg rounded-0',  'data-control': 'select2', 'data-placeholder': 'common.select'|trans}}) }}
                        {{ form_errors(form.status) }}
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::enabled-->
            </div>
        </div>
    </div>
    <!--end::Card body-->
    <!--begin::Card footer-->
    <div class="card-footer py-6 pt-lg-0 border-top-0 pb-lg-9 px-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                    {{ form_widget(form._token) }}
                    <a href="{{ path('dashboard_company_index', {'locationType': locationType}) }}" class="btn text-uppercase fw-bolder">
                        {{ 'dashboard.form.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-brand btn-primary rounded-0 bg-1B3951 text-uppercase fw-bolder"> {{ 'dashboard.form.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Card footer-->
    {{ form_end(form) }}
    <!--end::Form content-->
</div>
