{% extends 'layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} {{ pageTitle }}{% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block content %}
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-2 pb-lg-5">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack app-container-details">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex fw-bolder fs-6 flex-column justify-content-center my-0 text-uppercase color-1A394E">
                    {{ pageTitle }}
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->

    <!--begin::Content-->
    <div id="kt_app_content" class="flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid app-container-details">
            <!--start::Form-->
            {% include 'dashboard/company/_form.html.twig' %}
            <!--end::Form-->

            {% if uuid is defined %}
                <!--start::Modal-->
                {% include 'dashboard/company/_gallery-modal.html.twig' with {'galleries': galleries} %}
                <!--end::Modal-->
            {% endif %}
        </div>
    </div>
    <!--end::Content-->
{% endblock %}
{% block page_javascripts %}
    <script src="{{ asset('assets/dashboard/js/tinymce/tinymce.bundle.js') }}"></script>
    <script>
        // Parse JSON string to JavaScript array
        let servicesJson = "{{ services|escape('js') }}";
        let services = JSON.parse(servicesJson);

        window.locationType = "{{ locationType }}";

        initTagify(document.querySelector("#company_form_availableServices"), services);
        initEditor('#company_form_description');

        {% if uuid is defined %}
        let buttonUpload = document.getElementById("uploadFiles");
        window.removeItemGallery = "{{ path('dashboard_ajax_company_remove_gallery', {'uuid': uuid}) }}";
        initDropZone('#kt_dropzone_gallery', '{{ path('dashboard_ajax_company_upload_gallery', {'uuid': uuid}) }}', buttonUpload);
        {% endif %}
    </script>
{% endblock %}