{% extends 'layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} {{ pageTitle }}{% endblock %}

{% block content %}
    <!--begin::Users-->
    <div class="card card-flush">
        <!--begin::Card header-->
        <div class="card-header align-items-center py-5 pt-lg-6 pb-lg-4 gap-2 gap-md-5">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <i class="ki-duotone ki-magnifier fs-1 position-absolute ms-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input
                            type="text"
                            data-kt-table-filter="search"
                            class="form-control rounded-0 form-control-solid w-250px ps-14 py-3"
                            placeholder="{{ 'dashboard.table.search_placeholder'|trans }}  ..."
                    />
                </div>
                <!--end::Search-->
            </div>
            <!--end::Card title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <a href="{{ path('dashboard_company_create', {'locationType': locationType}) }}" class="btn btn-brand btn-md rounded-0 fw-bold btn-primary text-uppercase">
                    {{ 'dashboard.table.add_new_company'|trans }}
                </a>
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Datatable-->
            <table id="kt_datatable_companies" class="table align-middle table-row-dashed fs-6 gy-6">
                <thead>
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                    <th class="min-w-50px align-bottom">#ID</th>
                    <th class="min-w-50px">{{ 'common.filter_name'|trans }}</th>
                    <th class="min-w-100px">{{ 'menu.email_link'|trans }}</th>
                    <th class="min-w-100px">{{ 'dashboard.table.status'|trans }}</th>
                    <th class="min-w-100px">{{ 'dashboard.form.preview_image'|trans }}</th>
                    <th class="min-w-100px">{{ 'dashboard.table.created_at'|trans }}</th>
                    <th class="min-w-100px">{{ 'dashboard.table.updated_at'|trans }}</th>
                    <th class="text-end min-w-100px">{{ 'dashboard.actions.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody class="color-8597A5 fw-semibold"></tbody>
            </table>
            <!--end::Datatable-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Users-->
{% endblock %}

{% block page_javascripts %}
    <script>
        window.companyAjaxPath = "{{ path('dashboard_ajax_companies', {'locationType': locationType}) }}";
    </script>
    <script src="{{ asset('assets/dashboard/js/datatables/companies.js') }}"></script>
{% endblock %}
