{% extends 'layout_dashboard.html.twig' %}

{% block title %}Management Menu Item {{ parent() }}{% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block content %}
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    Management Menu Item
                </h1>
                <!--end::Title-->
            </div>
            <div class="card-header">
                <h3 class="card-title"></h3>
                <div class="card-toolbar mb-4">
                    {% set params = {'uuid': uuid} %}
                    {% include 'shared/dashboard/languages.html.twig' with params %}
                </div>
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->

    <!--begin::Content-->
    <div id="kt_app_content" class="flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!--start::Form-->
                    {% include 'dashboard/menu/menu-item/_form.html.twig' %}
                    <!--end::Form-->
                </div>
                <div class="col-md-6">
                    <!--start::Menu-it-->
                    {% include 'dashboard/menu/menu-item/menu-items.html.twig' %}
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Content-->
{% endblock %}
{% block page_javascripts %}
    {% set locale = app.request.get('locale', default_locale) %}

    <script>
        window.getMenuItemsEndpoint = "{{ path('dashboard_ajax_menu_items', {'uuid': uuid})  ~'?locale='~  locale }}";
        window.addMenuItemEndpoint = "{{ path('dashboard_menu_item_create', {'uuid': uuid}) }}";
        window.editMenuItemEndpoint = "{{ path('dashboard_menu_item_edit', {'uuid': uuid})  ~'?locale='~  locale }}";
        window.editMenuItemParentEndpoint = "{{ path('dashboard_menu_item_update_node', {'uuid': uuid}) }}";
        window.deleteMenuItemEndpoint = "{{ path('dashboard_menu_item_remove', {'uuid': uuid}) }}";
        window.menuTitle = "{{ menuTitle }}";
        window.menuIconPath = "{{ asset('/menuitem') }}";
    </script>
    <script src="{{ asset('assets/dashboard/js/menus/menuItems.js') }}"></script>
{% endblock %}