<div class="intro">
    <div>
        <h1>{{ 'common.search.title'|trans }}</h1>

        <form class="searchCoursesForm" novalidate="novalidate">
            <input name="searchCourses" placeholder="{{ 'common.search.text'|trans }}" title="{{ 'common.search.text'|trans }}" type="text" />
            <input type="submit" value="{{ 'common.search.title'|trans }}" />
        </form>
    </div>

    <div class="image" data-image="{{ asset('assets/frontend/images/search-results/intro.jpg') }}"></div>
</div>
