{% extends 'layout.html.twig' %}

{% block title %}{{ 'authentication.forgot_password.title'|trans }} {{ parent() }} {% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'class': ''}}) }}
    {% include 'shared/frontend/alert.html.twig' %}
    <h1>{{ 'authentication.forgot_password.title'|trans }}?</h1>
    <div>
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': '', 'autocomplete': 'off'}}) }}
        {{ form_errors(form.email) }}
    </div>
    <div>
        <button type="submit">
            {{ 'authentication.buttons.submit'|trans }}
        </button>
        <a href="{{ path('app_login') }}">{{ 'authentication.buttons.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
