<div class="modal fade" id="modalChangePassword" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-close" data-bs-dismiss="modal" aria-label="Close">
                <img src="{{ asset('assets/dashboard/media/dashboard/modal-close.png') }}" alt="modal-close" />
            </div>
            <div class="modal-body">
                <form id="modalChangePasswordForm">
                    <h3>Modifică parola</h3>
                    {% if(app.user.passwordChangedAt is not null) %}
                        <p>{{ 'dashboard.edit_profile.last_change_date'|trans }} {{ app.user.passwordChangedAt|date('d M Y H:m') }}</p>
                    {% endif %}
                    <!--begin::Form message-->
                    <div class="form-message"></div>
                    <!--end::Form message-->
                    <div class="board">
                        <label class="label" for="currentPassword">{{ 'dashboard.edit_profile.current_password'|trans }}</label>
                        <input type="password"
                               name="currentPassword"
                               id="currentPassword"
                               placeholder="{{ 'form.placeholder.password'|trans }}"
                        />
                        <img class="d-block"
                             src="{{ asset('assets/dashboard/media/dashboard/hidden-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="hidden-pass"
                        />
                        <img class="d-none"
                             src="{{ asset('assets/dashboard/media/dashboard/visible-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="visible-pass"
                        />
                    </div>
                    <div class="board">
                        <label class="label" for="password">{{ 'dashboard.edit_profile.new_password'|trans }}</label>
                        <input type="password" name="password" id="password" placeholder="{{ 'form.placeholder.password'|trans }}"/>
                        <img class="d-block"
                             src="{{ asset('assets/dashboard/media/dashboard/hidden-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="hidden-pass"
                        />
                        <img class="d-none"
                             src="{{ asset('assets/dashboard/media/dashboard/visible-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="visible-pass"
                        />
                    </div>

                    <div class="board">
                        <label class="label" for="repeatPassword">{{ 'form.placeholder.password_repeat'|trans }}</label>
                        <input type="password"
                               name="repeatPassword"
                               id="repeatPassword"
                               placeholder="{{ 'form.placeholder.password_repeat'|trans }}"
                        />
                        <img class="d-block"
                             src="{{ asset('assets/dashboard/media/dashboard/hidden-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="hidden-pass"
                        />
                        <img class="d-none"
                             src="{{ asset('assets/dashboard/media/dashboard/visible-pass.svg') }}"
                             width="25"
                             height="15"
                             alt="visible-pass"
                        />
                    </div>
                    <ul>
                        <li>
                            <input type="submit" class="submit-btn" value="{{ 'dashboard.edit_profile.change_password'|trans }}"/>
                        </li>
                        <li>
                            <a href="#" data-bs-dismiss="modal" aria-label="Close">{{ 'auth.cancel'|trans }}</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
