{{ form_start(form, {'attr': {'class': 'form'}}) }}
<div class="card-body p-9">
    <div class="row">
        <div class="col-lg-6 mb-5">
            {{ form_label(form.name, 'Language Name', {'label_attr': {'class': 'form-label fw-semibold fs-6'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-solid form-control-lg'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col-lg-6 mb-5">
            {{ form_label(form.locale, 'Language Locale', {'label_attr': {'class': 'form-label fw-semibold fs-6'}}) }}
            {{ form_widget(form.locale, {'attr': {'class': 'form-control form-control-solid form-control-lg'}}) }}
            {{ form_errors(form.locale) }}
        </div>
    </div>
</div>

<!--begin::Card footer-->
<div class="card-footer py-6 px-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-end">
                {{ form_widget(form._token) }}
                <a href="{{ path('dashboard_language_index') }}" class="btn btn-light btn-active-light-primary me-2">
                    Cancel
                </a>
                <button type="submit" class="btn btn-brand btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--end::Card footer-->
<!--end::Card body-->
{{ form_end(form) }}