{% set route = app.request.attributes.get('_route') %}

<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <!--begin::Wrapper-->
    <div class="app-sidebar-wrapper">
        <div id="kt_app_sidebar_wrapper" class="hover-scroll-y my-5 my-lg-2 mx-4" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_sidebar_wrapper" data-kt-scroll-offset="5px">
            <!--begin::Sidebar menu-->
            <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="app-sidebar-menu-primary menu menu-column menu-rounded menu-sub-indention px-3 mb-5">
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_index') }}">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-abstract-26 fs-2 text-white">
                                 <span class="path1"></span>
                                 <span class="path2"></span>
                            </i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu tab-->
                <div class="menu-item menu-labels">
                    <div class="menu-content d-flex flex-stack fw-bold text-gray-600 text-uppercase fs-7">
                        <span class="menu-heading ps-1">CMS</span>
                    </div>
                </div>
                <!--begin:Menu tab-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_article_index', 'dashboard_article_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_article_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-social-media fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Articles</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->

                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_categories_index', 'dashboard_category_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_categories_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-barcode fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Categories</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_menu_index', 'dashboard_menu_index'] ? 'active' : '' }}"
                       href="{{ path('dashboard_menu_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-menu fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Menus</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_page_index', 'dashboard_page_index'] ? 'active' : '' }}"
                       href="{{ path('dashboard_page_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-element-10 fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Pages</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_language_index', 'dashboard_language_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_language_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-note-2 fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Languages</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_certifications_index', 'dashboard_certificate_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_certifications_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-social-media fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Certifications</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_course_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_course_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-folder fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Courses</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->

                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_workshop_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_workshop_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-teacher fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Workshops</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_convention_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_convention_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-calendar fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Conventions</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_team_member_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_team_member_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-people fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Team members</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_gallery_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_gallery_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-picture fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Multimedia</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'dashboard_faq_index' ? 'active' : '' }}"
                       href="{{ path('dashboard_faq_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-question-2 fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">FAQs</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route == 'app_dashboard_refund' ? 'active' : '' }}"
                       href="{{ path('app_dashboard_refund') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-bill fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Refunds</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu tab-->
                <div class="menu-item menu-labels">
                    <div class="menu-content d-flex flex-stack fw-bold text-gray-600 text-uppercase fs-7">
                        <span class="menu-heading ps-1">GLOBAL</span>
                    </div>
                </div>
                <!--begin:Menu tab-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_report_index', 'dashboard_report_index'] ? 'active' : '' }}"
                       href="{{ path('dashboard_report_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-messages fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Reports</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_user_index', 'dashboard_user_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_user_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-profile-user fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Users</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_lead_index', 'dashboard_lead_edit'] ? 'active' : '' }}"
                       href="{{ path('dashboard_lead_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-fasten fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Leads</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link {{ route in ['dashboard_feedback_index', 'dashboard_feedback_view'] ? 'active' : '' }}"
                       href="{{ path('dashboard_feedback_index') }}">
                        <span class="menu-icon">
                            <i class="ki-outline ki-messages fs-2 text-white"></i>
                        </span>
                        <span class="menu-title">Feedback</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
                <!--begin:Menu clear cache -->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a id="cache-clear" class="menu-link" href="#">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-wrench fs-2 text-white">
                                 <span class="path1"></span>
                                 <span class="path2"></span>
                            </i>
                        </span>
                        <span class="menu-title">Clear cache</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu clear cache -->
            </div>
            <!--end::Sidebar menu-->
        </div>
    </div>
    <!--end::Wrapper-->
</div>

<script>
    window.ajaxCacheClear = "{{ path('dashboard_ajax_clear_cache') }}"
</script>