<div class="next-prev-articles">
    {% if(prevArticle is not null) %}
        <div class="prev-article item">
            <div class="item__content">
                <span>{{ 'blog.prev'|trans }}</span>
                <h3>
                    {{ prevArticle.translation(locale).title }}
                </h3>
                <p>
                    {{ prevArticle.translation(locale).shortDescription|slice(0, 110) ~ '...' }}
                </p>
                <a href="{{ path('app_blog_single', {'slug': prevArticle.slug }) }}">
                    {{ 'common.view_more'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
    {% if(nextArticle is not null) %}
        <div class="next-article item">
            <div class="item__content">
                <span>{{ 'blog.next'|trans }}</span>
                <h3>
                    {{ nextArticle.translation(locale).title }}
                </h3>
                <p>
                    {{ nextArticle.translation(locale).shortDescription|slice(0, 110) ~ '...' }}
                </p>
                <a href="{{ path('app_blog_single', {'slug': nextArticle.slug }) }}">
                    {{ 'common.view_more'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
</div>