<div class="educational-structure">
    <div class="inner">
        {% for widget in section.pageWidgets %}
            {% set translation = widget.translation(locale) %}

            {% if widget.classes == 'top' %}
                <h2>{{ translation.title }}</h2>
                {{ translation.description|raw }}
            {% endif %}
        {% endfor %}


        <div>
            {% for category in categories %}
                {% set translation = category.translation(locale) %}

                <a href="{{ path('app_educations', { 'category': category.slug }) }}">
                    <div class="item">
                        <div>
                            <img src="{{ asset(app_categories_path ~ category.fileName, 'cloudflare') }}" alt="icon" />
                            <h4>{{ translation.title }}</h4>
                        </div>
                        {{ translation.description|raw }}
                    </div>
                </a>
            {% endfor %}
        </div>


        {% for widget in section.pageWidgets %}
            {% set translation = widget.translation(locale) %}

            {% if widget.classes == 'bottom' %}
                {{ translation.description|raw }}
                <a href="{{ translation.link }}">{{ translation.linkText }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
