<div class="course-schedule">
    <div>
        <h2>{{ 'course_calendar.course_details.program'|trans }}</h2>

        <div>
            {% for schedule in education.schedules %}
                <div class="item">
                    <div>
                        <p>
                            {{ schedule.formattedDate(locale) }}
                        </p>
                    </div>
                    <div>
                        {{ schedule.translation(locale) ? schedule.translation(locale).description|raw : schedule.translation(default_locale).description|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2>{{ 'course_calendar.course_details.trainers'|trans }}</h2>

        <div>
            {% for teamMember in education.teamMembers %}
                <div class="item">
                    <img src="{{ asset(app_team_member_path ~ teamMember.imageName, 'cloudflare') }}" alt="trainer" />
                    <p>{{ teamMember.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
