{% extends 'layout-auth.html.twig' %}
{% block title %}{{ parent() }} {{ 'auth.forgot_password_title'|trans }}{% endblock %}
{% form_theme form 'shared/form/form_errors.html.twig' %}
{% block content %}
    <main class="reset-password">
        <div class="container">
            <div class="form-wrapper">
                {{ form_start(form) }}
                <h3>{{ 'auth.forgot_password_title'|trans }}</h3>
                {% include "shared/frontend/alert.html.twig" %}
                <p>{{ 'auth.forgot_password_description'|trans }}</p>
                <div class="group">
                    {{ form_label(form.email, 'menu.email_link'|trans) }}
                    {{ form_widget(form.email, {'attr': {'placeholder': 'ion.popescu@email.com', 'autocomplete': 'off'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="recaptcha">
                    <div class="g-recaptcha recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                </div>
                <div class="form-action">
                    {{ form_widget(form._token) }}
                    <input type="submit" class="submit-btn" value="{{ 'auth.forgot_submit'|trans }}"/>
                </div>
                <div class="text-center">
                    <a href="{{ path('dashboard_login') }}">
                        <strong>{{ 'auth.cancel'|trans }}</strong>
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
