{% extends 'layout-auth.html.twig' %}

{% block title %}{{ parent() }} {{ 'auth.forgot_password_title'|trans }}{% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block content %}
    <main class="reset-password">
        <div class="container">
            <div class="form-wrapper">
                {{ form_start(form) }}
                <h3>{{ 'auth.forgot_password_title'|trans }}</h3>
                <!--begin::Form message-->
                {% include "shared/frontend/alert.html.twig" %}
                <!--end::Form message-->
                <div class="board">
                    {{ form_label(form.password.first, 'form.placeholder.password'|trans, {'label_attr': {'class': 'label'}}) }}
                    {{ form_widget(form.password.first, {'attr': {'placeholder': 'form.placeholder.password'|trans, 'autocomplete': 'off'}}) }}
                    {{ form_errors(form.password.first) }}
                    <img class="d-block"
                         src="{{ asset('assets/frontend/images/common/hidden-pass.svg') }}"
                         width="25"
                         height="15"
                         alt="hidden-pass"
                    />
                    <img class="d-none"
                         src="{{ asset('assets/frontend/images/common/visible-pass.svg') }}"
                         width="25"
                         height="15"
                         alt="visible-pass"
                    />
                </div>
                <div class="board">
                    {{ form_label(form.password.second, 'form.placeholder.password_repeat'|trans, {'label_attr': {'class': 'label'}}) }}
                    {{ form_widget(form.password.second, {'attr': {'placeholder': 'form.placeholder.password_repeat'|trans, 'autocomplete': 'off'}}) }}
                    {{ form_errors(form.password.second) }}
                    <img class="d-block"
                         src="{{ asset('assets/frontend/images/common/hidden-pass.svg') }}"
                         width="25"
                         height="15"
                         alt="hidden-pass"
                    />
                    <img class="d-none"
                         src="{{ asset('assets/frontend/images/common/visible-pass.svg') }}"
                         width="25"
                         height="15"
                         alt="visible-pass"
                    />
                </div>
                <div class="recaptcha">
                    <div class="g-recaptcha recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                </div>
                <div class="form-action">
                    {{ form_widget(form._token) }}
                    <input type="submit" class="submit-btn" value="{{ 'auth.reset_submit'|trans }}" />
                </div>
                <div class="text-center">
                    <a href="{{ path('dashboard_login') }}">
                        <strong>{{ 'auth.cancel'|trans }}</strong>
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
