{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} {{ page.name }}{% endblock %}
{% block content %}
    {% if page %}
        {% set searchType = app.request.query.get('type') %}
        <main class="{{ searchType == constant('App\\Entity\\Company::LOCATION_TYPE_CARE') ? 'catalogue' : '' }}
                    {{ searchType == constant('App\\Entity\\Company::LOCATION_TYPE_PROVIDER') ? 'care-resources': '' }}
                    {{ searchType == constant('App\\Entity\\Job::ENTITY_NAME') ? 'jobs': '' }}
                    {{ searchType == constant('App\\Entity\\TrainingCourse::ENTITY_NAME') ? 'jobs courses-forming': '' }}
                    {{ searchType == constant('App\\Entity\\Article::ENTITY_NAME') ? 'blog': '' }}">
            {% for section in page.pageSections %}
                {% include 'frontend/pages/' ~ page.machineName ~ '/' ~ section.template ignore missing %}
            {% endfor %}
        </main>
    {% endif %}
{% endblock %}