{% extends "layout.html.twig" %}

{% block title %}{{ 'authentication.reset_password.title'|trans }} {{ parent() }} {% endblock %}

{% form_theme form 'shared/form/frontend_form_errors.html.twig' %}

{% block content %}
    <main class="reset-password">
        <main class="reset-password">
            <div class="common-intro-v2">
                <div class="inner">
                    <div class="image" data-image="{{ asset('assets/frontend/images/authentication/intro.jpg') }}"></div>
                    <h1>{{ 'authentication.reset_password.page_title'|trans }}</h1>
                </div>
            </div>
            <div class="content">
                <div class="inner">
                    {% include "shared/frontend/alert.html.twig" %}
                    <div class="resetPassword-wrapper">
                        <div class="reset-side has-loader">
                            <h4>{{ 'authentication.reset_password.description'|trans }}</h4>
                            {{ form_start(form, {'attr': {'class': 'contact-form has-loader', novalidate: 'novalidate'}}) }}
                            <div class="group">
                                {{ form_widget(form.password, {'attr': {'class': form_errors(form.password)|trim is not empty ? 'error' : '' }}) }}
                                {{ form_errors(form.password) }}
                            </div>
                            <div class="group-submit">
                                <input type="submit" value="{{ "authentication.buttons.send"|trans }}" />
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
{#                    <div class="faq-redirect">#}
{#                        <a href="#">{{ "authentication.buttons.faq"|trans }}</a>#}
{#                    </div>#}
                </div>
            </div>
        </main>
    </main>
{% endblock %}
