{% if reviews is not empty %}
    <div class="home-details-reviews-container" id="reviews-container">
        <h2>Recenzii</h2>
        <div class="list-wrapper">
            <div class="common-arrow swiper-button-prev prev-review"></div>
            <div class="home-details-reviews slick-shelters">
                {% for item in reviews %}
                    <div class="preview-review">
                        <div class="rating-section">
                            <span class="star {{ item.totalValuesStar >= 1 ? 'active' : '' }}" data-star="1"></span>
                            <span class="star {{ item.totalValuesStar >= 2 ? 'active' : '' }}" data-star="2"></span>
                            <span class="star {{ item.totalValuesStar >= 3 ? 'active' : '' }}" data-star="3"></span>
                            <span class="star {{ item.totalValuesStar >= 4 ? 'active' : '' }}" data-star="4"></span>
                            <span class="star {{ item.totalValuesStar >= 5 ? 'active' : '' }}" data-star="5"></span>
                        </div>
                        <div class="rating-text">
                            <p class="preview-review-desc">
                                {{ item.review|raw }}
                            </p>
                            <p class="rating-from">
                                <b>
                                    {{ 'review.review_for'|trans }}
                                    <span class="name-to-display">{{ item.displayName }}</span>
                                    (<span class="user-connection">{{ item.connection }}</span>)
                                </b>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="common-arrow swiper-button-next next-review"></div>
        </div>
    </div>
{% endif %}
