{% extends 'layout_dashboard_authentication.html.twig' %}

{% block title %}Forgot password {{ parent() }} {% endblock %}

{% form_theme form 'shared/form/form_errors.html.twig' %}

{% block body %}
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <!--begin::Authentication - Password reset -->
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <!--begin::Body-->
            <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
                <!--begin::Form-->
                <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                    <!--begin::Wrapper-->
                    <div class="w-lg-500px p-10">
                        <!--begin::Form-->
                        {{ form_start(form, {'attr': {'class': 'form w-100'}}) }}
                        <!--begin::Heading-->
                        {% include 'shared/dashboard/alert.html.twig' %}
                        <div class="text-center mb-10">
                            <!--begin::Title-->
                            <h1 class="text-gray-900 fw-bolder mb-3">Forgot Password?</h1>
                            <!--end::Title-->
                            <!--begin::Link-->
                            <div class="text-gray-500 fw-semibold fs-6">Enter your email to reset your password.</div>
                            <!--end::Link-->
                        </div>
                        <!--begin::Heading-->
                        <!--begin::Input group=-->
                        <div class="fv-row mb-8">
                            <!--begin::Email-->
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control bg-transparent', 'autocomplete': 'off'}}) }}
                            {{ form_errors(form.email) }}
                            <!--end::Email-->
                        </div>
                        <!--begin::Actions-->
                        <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                            <button type="submit" class="btn btn-primary me-4 btn-brand">
                                Submit
                            </button>
                            <a href="{{ path('dashboard_login') }}" class="btn btn-light">Cancel</a>
                        </div>
                        <!--end::Actions-->
                        {{ form_end(form) }}
                        <!--end::Form-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Form-->
            </div>
            <!--end::Body-->
            <!--begin::Aside-->
            {% include 'shared/dashboard/partials/_auth_aside.html.twig' %}
            <!--end::Aside-->
        </div>
        <!--end::Authentication - Password reset-->
    </div>
    <!--end::Root-->
{% endblock %}
