{% extends 'layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} My account{% endblock %}
{% block content %}
    <div class="edit-profile">
        <div class="inner">
            <div class="content">
                <h3>{{ 'dashboard.edit_profile.title'|trans }}</h3>
                <div class="board">
                    <div class="row">
                        <h3>{{ 'dashboard.edit_profile.personal_info'|trans }}</h3>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'dashboard.edit_profile.avatar'|trans }}</h4>
                            <p> {{ 'dashboard.edit_profile.change_profile_image'|trans }}</p>
                        </div>
                        <div class="user-info">
                            <div class="user-info__image-and-name">
                                <form id="profileImage">
                                    <div class="profile-error-message"></div>
                                    <div class="image-container upload">
                                        <div class="data-image" style="background-image: url( {{ asset(app.user.profilePicture ? app_user_path ~ app.user.profilePicture : 'assets/dashboard/media/dashboard/user-profile-img.webp', 'cloudflare') }})">
                                        </div>
                                        <div class="upload-container">
                                            <label id="image-input" for="inputImage"></label>
                                            <input type="file"
                                                   class="form-control file"
                                                   name="fileName"
                                                   id="inputImage"
                                            />
                                            <div class="upload-btn">
                                                <img src="{{ asset('assets/dashboard/media/dashboard/edit.svg') }}"
                                                     alt="edit"
                                                     width="20"
                                                     height="20"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p><span class="current-user-name">{{ app.user.name }}</span> <span class="current-user-surname">{{ app.user.surname }}</span></p>
                            </div>
                            <div id="errorMessageAvatar"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'menu.email_link'|trans }}</h4>
                            <p>{{ app.user.email }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangeEmail">{{ 'dashboard.edit_profile.change_profile_email'|trans }}</a>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'form.placeholder.password'|trans }}</h4>
                            <p>{{ 'dashboard.edit_profile.change_password'|trans }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangePassword">{{ 'dashboard.edit_profile.change_password'|trans }}</a>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'common.filter_name'|trans }}</h4>
                            <p>{{ 'dashboard.edit_profile.change_profile_name'|trans }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangeName">{{ 'dashboard.edit_profile.change_profile_name'|trans }}</a>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'common.filter_surname'|trans }}</h4>
                            <p>{{ 'dashboard.edit_profile.change_profile_surname'|trans }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangeSurname">{{ 'dashboard.edit_profile.change_profile_surname'|trans }}</a>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'menu.phone_link'|trans }}</h4>
                            <p>{{ 'dashboard.edit_profile.change_phone_number'|trans }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangePhoneNumber">{{ 'dashboard.edit_profile.change_phone_number'|trans }}</a>
                    </div>
                </div>
                <div class="board">
                    <div class="row">
                        <h3>{{ 'dashboard.actions.actions'|trans }}</h3>
                    </div>
                    <div class="row">
                        <div class="pack">
                            <h4>{{ 'dashboard.edit_profile.delete_account'|trans }}</h4>
                            <p>{{ 'dashboard.edit_profile.delete_no_return'|trans }}</p>
                        </div>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalChangeDelete">{{ 'dashboard.edit_profile.delete_account'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start: Modal for changing avatar -->
        {% include "dashboard/default/modals/change-avatar.html.twig" %}
        <!-- End: Modal for changing avatar -->

        <!-- Start: Modal for changing email -->
        {% include "dashboard/default/modals/change-email.html.twig" %}
        <!-- End: Modal for changing email -->

        <!-- Start: Modal for changing password -->
        {% include "dashboard/default/modals/change-password.html.twig" %}
        <!-- End: Modal for changing password -->

        <!-- Start: Modal for changing name -->
        {% include "dashboard/default/modals/change-name.html.twig" %}
        <!-- End: Modal for changing name -->

        <!-- Start: Modal content for changing surname -->
        {% include "dashboard/default/modals/change-surname.html.twig" %}
        <!-- End: Modal content for changing surname -->

        <!-- Start: Modal for changing phone number -->
        {% include "dashboard/default/modals/change-phone.html.twig" %}
        <!-- End: Modal for changing phone number -->

        <!-- Start: Modal for delete account -->
        {% include "dashboard/default/modals/delete-account.html.twig" %}
        <!-- End: Modal for delete account -->
    </div>
{% endblock %}
{% block page_javascripts %}
    <script src="{{ asset('assets/dashboard/js/profile/editProfile.js') }}"></script>
    <script src="{{ asset('assets/dashboard/js/profile/editPhotoHandler.js') }}"></script>
{% endblock %}
