<div class="search">
    {% for widget in section.pageWidgets %}
        {% set translation = widget.translation(locale) %}
        {% include 'frontend/pages/search/widgets/' ~ widget.template ignore missing %}
    {% endfor %}
</div>
{% set searchType = app.request.query.get('type') %}
<div class="{{ searchType == constant('App\\Entity\\Company::LOCATION_TYPE_CARE') ? 'catalogue-list-wrapper has-loader' : '' }}
                    {{ searchType == constant('App\\Entity\\Company::LOCATION_TYPE_PROVIDER') ? 'resources-list-wrapper has-loader' : '' }}
                    {{ searchType == constant('App\\Entity\\Job::ENTITY_NAME') ? 'jobs-list has-loader' : '' }}
                    {{ searchType == constant('App\\Entity\\TrainingCourse::ENTITY_NAME') ? 'agenda-list has-loader' : '' }}
                    {{ searchType == constant('App\\Entity\\Article::ENTITY_NAME') ? 'articles-list' : '' }}">
    <div class="inner">
        <form id="catalogueForm">
            <div class="catalogue-filter-sort">
                <div class="catalogue-filter">
                    <div class="filter-box">
                        <select id="regionFilter" class="region-filter" name="regionFilter">
                            <option value="all">{{ 'search.county'|trans }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        {% if searchType == constant('App\\Entity\\Company::LOCATION_TYPE_CARE') %}
            <div class="catalogue-list"></div>
        {% elseif searchType == constant('App\\Entity\\Company::LOCATION_TYPE_PROVIDER') %}
            <div class="resources-list"></div>
        {% elseif searchType == constant('App\\Entity\\Job::ENTITY_NAME') %}
            <div class="list"></div>
        {% elseif searchType == constant('App\\Entity\\TrainingCourse::ENTITY_NAME') %}
            <div class="agenda-list has-loader"></div>
        {% elseif searchType == constant('App\\Entity\\Article::ENTITY_NAME') %}
            <div class="row has-loader"></div>
        {% endif %}
    </div>
</div>
{% include "frontend/pages/common/pagination.html.twig" %}