<div class="search">
    {% for widget in section.pageWidgets %}
        {% set translation = widget.translation(locale) %}
        {% include 'frontend/pages/search/widgets/' ~ widget.template ignore missing %}
    {% endfor %}
</div>
{% set searchType = app.request.query.get('type') %}
{% set classes = {care: 'catalogue-list-wrapper', provider: 'resources-list-wrapper', job: 'resultsList-filter-county jobs-agenda', course: 'resultsList-filter-county jobs-agenda courses-agenda', article: 'articles-list'} %}
{% set listClasses = { care: 'catalogue-list has-loader', provider: 'resources-list has-loader', job: 'agenda-list has-loader', course: 'agenda-list has-loader', article: 'row has-loader'} %}

<div class="{{ classes[searchType] ?? '' }}">
    <div class="inner">
        <form id="catalogueForm" class="{{ searchType == constant('App\\Entity\\Article::ENTITY_NAME') ? 'd-none': '' }}">
            <div class="catalogue-filter-sort">
                <div class="catalogue-filter">
                    <p>{{ 'common.filter_for'|trans }}:</p>
                    <div class="catalogue-filter">
                        <div class="filter-box">
                            <select id="regionFilter" class="region-filter" name="regionFilter">
                                <option value="all">{{ 'search.county'|trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="{{ listClasses[searchType] ?? '' }}"></div>
    </div>
</div>
{% include "frontend/pages/common/pagination.html.twig" %}