{% set locale = languageHelper.getLocaleFromRequest %}

<div class="courses-list-wrapper">
    <div class="inner">
        {% include "shared/frontend/alert.html.twig" %}

        <div class="filters">
            <div class="group">
                <label for="coursesType">{{ "course_calendar.type"|trans }}</label>
                <select name="coursesType" id="coursesType">
                    <option value="all">{{ "course_calendar.all"|trans }}</option>
                    {% for key, type in types %}
                        <option value="{{ key }}"
                                {% if key == selectedType %}selected{% endif %}>{{ type|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="group">
                <label for="coursesLocation">{{ "course_calendar.location"|trans }}</label>
                <select name="coursesLocation" id="coursesLocation">
                    <option value="all">{{ "course_calendar.all"|trans }}</option>
                    {% for location in locations %}
                        <option value="{{ location }}" class="text-capitalize"
                                {% if location == selectedLocation %}selected{% endif %}>{{ location }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="group">
                <form class="search-courses">
                    <div class="search-wrapper">
                        <label for="coursesSearch">{{ "course_calendar.search"|trans }}</label>
                        <input type="search" value="{{ query }}" name="coursesSearch" id="coursesSearch">
                    </div>
                    <div class="submit-wrapper">
                        <input type="submit" value="">
                    </div>
                </form>
            </div>
        </div>
        <div class="courses-list">
            {% if courses is empty %}
                <h6>{{ 'common.no_result'|trans }}</h6>
            {% else %}
                {% for course in courses %}
                    <div class="course-card">
                        <div class="image" data-image="{{ asset('assets/files/education/' ~ course.imageName, 'cloudflare') }}"></div>
                        <div>
                            {% if course.type == "course" %}
                                <h3>{{ 'common.course'|trans }}</h3>
                                {% elseif course.type == "workshop" %}
                                    <h3>{{ 'common.workshop'|trans }}</h3>
                                {% else %}
                                <h3>{{ 'common.convention'|trans }}</h3>
                            {% endif %}
                            <h2>{{ course.translation(locale).title ?? course['title'] }}</h2>
                                {{ course.translation(locale).shortDescription|u.truncate(270)|raw }}
                            <ul>
                                <li class="date">
                                    {{ course.formattedDate(default_locale) }}
                                </li>
                                <li class="location">
                                    {{ course.county.name }}
                                </li>
                                <li>
                                    <a href="{{ path('app_education_details', {'slug': course.slug}) }}">{{ 'common.buttons.view_details'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>